body {
	background-color: #cdcdcd;
}

.feature-box-container: {
	padding: 20px !important;
}

.feature-box {
	background-color: #fff;
	border-radius: 20px;
	padding: 10px;
	margin: 5px auto;
}

.abstract {
	margin: 20px auto;
	font-style: italic; 
}

.completed-feature {
	background-color: #cff9cf;
}